<header class="cabecalho ff-inter">
  <div class="logo">
    <img src="../../../assets/Imagens_do_curso/logo-memoteca.png" alt="Logo memoteca em letras brancas no fundo azul com a imagem de um balao que remete a pensamento">
    <p>Guarde trechos de músicas, citações de livros, pensamentos e suas melhores ideias.</p>
  </div>
  <img class="imagem" src="../../../assets/Imagens_do_curso/computador-cabecalho.png" alt="imagem de notebook e um celular nas cores cinzas compondo o cabelcalho em fundo azul da memoteca">
</header>
